// show
 .article {
  margin-bottom: 50px;
  .title {
    text-align: center;
  }
}

// index
.articles {
  .article-link {
    text-decoration: none;
    color: inherit;
  }
  // admin
  &.admin {
    .new-article-link {
      float: right;
    }
  }
}

// form
.new_article, .edit_article {
  #article_content {
    min-height: 300px;
  }
}