nav.navbar {
  margin-bottom: 20px;
}
#flash-messages {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .alert-alert {
    @extend .alert-danger;
  }
  .alert-notice {
    @extend .alert-success;
  }
}